<ion-header>

  <ion-navbar color="primary">
    <ion-title>Create Wallet</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="logo">
    <div class="logo-img">
      <img src="assets/imgs/logo-with-text.png" alt="Nexty logo">
    </div>
  </div>

  <form [formGroup]="registerForm" padding-horizontal>
    <ion-item padding-horizontal>
      <ion-label floating>Local Password</ion-label>
      <ion-input [formControl]="registerForm.controls['password']" type="password"></ion-input>
    </ion-item>
    <ion-item no-lines no-margin *ngIf="!registerForm.controls.password.valid &&
        registerForm.controls.password.dirty" class="validator-error">
      <ion-label color="danger">
        Local Password needs at least 6 character
      </ion-label>
    </ion-item>

    <ion-item padding-horizontal>
      <ion-label floating>Confirm Local Password</ion-label>
      <ion-input (ionFocus)="focusConfirm()" [formControl]="registerForm.controls['confirmPassword']" type="password"></ion-input>
    </ion-item>
    <ion-item no-lines padding-horizontal *ngIf="registerForm.controls.confirmPassword.errors?.MatchPassword && isConfirmFocus"
      class="validator-error">
      <ion-label color="danger">
        Local Password not match
      </ion-label>
    </ion-item>

    <p text-center padding-horizontal>By creating a new wallet you agree to the
      <a (click)="viewToS()">Term of Service</a>
    </p>

    <ion-item no-lines text-center>
      <button class="normal-button" ion-button color="secondary" [disabled]="!registerForm.valid" (click)="register()">Create Wallet</button>
    </ion-item>
  </form>

  <div class="wrapper">

  </div>

</ion-content>