page-redeem {
    .text-bold {
        text-align: center;
        font-weight: bold;
        font-size: 130%;
    }
    #form {
        height: 100%;
        width: 100%; //background-image: url('./../assets/imgs/bgRedeem.jpg'); // background-image: url("https://preview.ibb.co/jrRJAJ/preview_332678_S6dt_S1_Gpn_0015.jpg");
        //background-repeat: no-repeat;
        //background-size: cover;
        padding: 42% 9%;
    }
    .formSuccess {
        margin: auto 0;
        background: white;
        padding: 9% 0;
        border-radius: 3%;
        font-family: Poppins; // opacity: 0.8;        
        font-size: 120%;
        text-align: center;
    }
    .goDashboard {
        text-align: center;
        margin-top: 10%;
        color: #0d47a1;
        text-decoration: underline;
    }
    .reload {
        text-align: center;
        color: #0d47a1;
        text-decoration: underline;
    }
}