page-dashboard {
    .scroll-content {
        background-color: map-get($colors, 'nexty');
    }
    .coin {
        // height: 16%;
        background-color: #f8b62d;
    }
    .text-coin {
        // padding: 2% 0;      
        font-family: Poppins;
        font-size: 30px;
        text-align: center;
        color: #0d47a1;
    }
    .exchangeRate {
        // margin: 10px;        
        background-color: #f8b62d;
        padding: 2% 0;
        border-top: 1px solid #ce9319;
        border-bottom: 1px solid #ce9319;
    }
    .text-exchange {
        font-family: Poppins; // font-size: 18px;
        // margin-bottom: 8px;
        font-weight: 100;
        text-align: center;
        i {
            font-size: 16px;
        }
    }
    #chart {
        display: block; // margin-bottom: 1%;
        background: #0d47a1;
    }
    ion-row.checkBackup.row {
        background-color: #D50000;
        color: white;
        font-size: 115%;
        padding: 0 2%;
    }
    .ttl-backup {
        float: left;
        padding-top: 16px;
    }
    .toastNetwork {
        >div {
            background-color: #D50000 !important;
        }
    }
    .toast-container {
        background: #D50000 !important;
    }
    ion-card-header {
        font-weight: bold;
    }
    .lds-double-ring {
        position: relative;
    }
    .lds-double-ring {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .ng-scope {
        background-color: rgba(0, 0, 0, 0.171);
    }
    #loading {
        position: absolute;
        top: 0;
        left: 0; // display: none;
        height: 100%;
        width: 100%;
        z-index: 1000000;
        padding: 85px 40%;
    }
    .chart {
        position: relative;
    }
    .number-noti {
        padding: 3px;
        background: red;
        border-radius: 100%;
        position: absolute;
        top: 0;
        right: 1px;
        text-align: center;
        margin: auto;
        font-size: 80%;
    }
    .rowContract {
        font-weight: bold;
        font-family: Poppins;
        background: rgba(255, 255, 255, 0.158);
        color: white;
        margin: 2%;
        border-radius: 4px;
        box-shadow: inset 0px 0px 1px 0px #051936;
    }
    .rowContract:last-child {
        border-bottom: none;
    }
    @media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
        .toolbar-ios ion-title {
            padding: 0 0 1px;
        }
        ion-row.checkBackup.row {
            font-size: 100%;
        }
        .btn-backup {
            font-size: 76%
        }
    }
    .listType {
        background: map-get($colors, 'nexty');
        color: #3c80e8;
        padding: 1%;
        border-bottom: 1px solid #0e4190;
    }
    .activee {
        color: #fbfbfb;
        text-decoration: underline;
        font-weight: bold;
    }
    .ttl-balance {
        font-weight: bold;
        font-size: 20px;
        padding: 0 2%;
        color: whitesmoke;
    }
}