page-send {
    .btn_contract {
        // border-radius: 5px;  padding: 8%;        background: none;
        width: 100%;
        text-align: center
    }
    .ttl-Token {
        // font-weight: bold;        font-size: 115%;
    }
}